{% from 'macros.html' import render_field %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}FleetTracker{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css?version=6">
</head>
<body>
<div class="wrap">
    <header>
        <nav class="main-nav">
            {% if current_user.is_authenticated %}
            <div class="search">
                <form action="{{ url_for('search') }}" method="POST">
                    {{ search_form.csrf_token }}
                    {% for field in search_form %}
                    {{ render_field(field, div_class='search-text') }}
                    {% endfor %}
                    <button type="submit" class="btn btn-dark mt-2 mr-2">Search</button>
                </form>
            </div>
            {% endif %}
            <div class="nav">
                <a href="{{ url_for('home') }}">Home</a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}">Logout</a>
                {% if current_user.is_admin %}
                <a href="{{ url_for('admin') }}">Master Equipment List</a>
                {% else %}
                <a href="{{ url_for('main') }}">Equipment List</a>
                {% endif %}
                {% if current_user.is_admin %}
                <a href="{{ url_for('add') }}">Add Equipment</a>
                {% endif %}
                {% else %}
                <a href="{{ url_for('login') }}">Login</a>
            </div>
            {% endif %}
        </nav>
    </header>
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container-home">

        {% block content %}{% endblock %}
    </div><!--/.container-->
</div><!--/.wrap-->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script type="text/javascript" src="{{ hashed_url('build/vendor.js') }}"></script>
    <script type="text/javascript" src="{{ hashed_url('build/main.js') }}"></script>
</body>
</html>
