/* =================================
  Base Element Styles
==================================== */
body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3A3A40;
}

header {
    background: #556B2F;
    display: block;
    box-shadow: 0px 0px 10px black;
}


/* =================================
  Base Layout Styles
==================================== */

.stream li {
    padding-top: 10px;
    text-align: center;
    box-shadow: inset 0px -1px #00000024;
}

.main-nav {
    display: block;
    background: #556B2F;
    text-align: center;
}

.main-nav a:hover {
    color: white;
}

.main-nav a {
    display: block;
    margin-top: -4px;
    color: #3A3A40;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border-bottom: solid 2px;
    font-size: 20px;
}

.form {
    vertical-align: top;
    margin-right: 0px;
    display: block;
    padding-top: 10px;
}

.stream {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.flash {
    text-align: center;
    background-color: slategrey;
    margin-bottom: 10px;
}

.stream-content {
    text-align: center;
}

.stream-content li {
    margin-bottom: 5px;
}

.button {
    background-color: #3e474f;
    color: white;
    border-radius: 10px;
    margin-left: 10px;

}

.button:hover {
    border-color: #3e474f;
    transform: scale(1.05);
}

.master {
    text-align: center;
}

.title{
    display: block;
    text-align: center;
    margin-left: 0;
    opacity: .9;
    margin-top: 0px;
}

.title-admin {
    display: block;
    text-align: center;
}

.radio li input {
    visibility: hidden;
}

.radio li label {
    padding: 4px 10px;

}

.radio li input:checked+label {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.under-radio {
    margin-left: 22px;
}

.container {
    margin-top: 0;
    padding-top: 30vh;
    text-align: center;

}

.field {
    padding-top: 10px;

}

.header-container {
    position: fixed;
    width: 100%;
}
/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

    header {
        height: 100px;
    }
    .container {
        width: 90%;
        max-width: 1150px;
        margin: 0 auto;
        padding-top: 5%;
    }

    .wrap {
        min-height: calc(100vh - 89px);
    }

    .stream li {
        padding-top: 10px;
        text-align: center;
        box-shadow: inset 0px -1px #00000024;
    }

    .main-nav a {
        color: #3a3a3a;
        margin-top: 35px;
        display: inline-block;
        margin-right: 15px;
        font-size: 18px;
    }

    .form {
        padding-right: 1em;
        padding-left:  1em;
        display: inline-block;
    }

    .main-nav {
        margin-left: 5%;
        float: right;
    }

    .title,
    .title-admin {
        float: left;
        padding-left: 0;
    }

    .title {
        float: left;
    }
}

