/* =================================
  Base Element Styles
==================================== */
body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3A3A40;
}

header {
    background: #556B2F;
    height: 100px;
    display: block;
}


/* =================================
  Base Layout Styles
==================================== */

.stream li {
    padding-top: 10px;
    text-align: center;
    box-shadow: inset 0px -1px #00000024;
}

.main-nav {
    display: block;
    background: #556B2F;
}

.main-nav a:hover {
    color: white;
}

.main-nav a {
    display: block;
    margin-top: -4px;
}

.form {
    vertical-align: top;
    margin-right: 150px;
    display: block;
}

.stream {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.flash {
    text-align: center;
    background-color: slategrey;
    margin-bottom: 10px;
}

.stream-content {
    text-align: center;
}

.stream-content li {
    margin-bottom: 5px;
}

.button {
    background-color: #3e474f;
    color: white;
    border-radius: 10px;
    margin-left: 10px;

}

.button:hover {
    border-color: #3e474f;
    transform: scale(1.05);
}

.master {
    text-align: center;
}

.title{
    display: block;
    text-align: center;
    margin-left: 0;
    opacity: .5;
    margin-bottom: 0;
}

.title-admin {
    display: block;
    text-align: center;
    padding-left: 45%;
}

.radio li input {
    visibility: hidden;
}

.radio li input:checked+label {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.under-radio {
    margin-left: 22px;
}

.container {
    padding-top: 30%;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {
    .container {
        width: 70%;
        max-width: 1150px;
        margin: 0 auto;
        padding-top: 0;
    }

    .wrap {
        min-height: calc(100vh - 89px);
    }

    .stream li {
        padding-top: 10px;
        text-align: center;
        box-shadow: inset 0px -1px #00000024;
    }

    .main-nav a {
        color: #3a3a3a;
        margin-top: 35px;
        display: inline-block;
        margin-right: 15px;
        font-size: 18px;
    }

    .form {
        display: inline-block;
    }

    .main-nav {
        margin-left: 5%;
        display: inline-block;
    }

    .title,
    .title-admin {
        display: inline-block;
    }

    .title {
        margin-left: 35%;
    }
}

