{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div class="admin-form">
    <form action="" method="POST" class="master">
    {% for field in admin_form %}
        {{ admin_form.hidden_tag() }}
        {{ render_field(field) }}
    {% endfor %}
        <button type="submit" class="btn btn-dark">Show Equipment List</button>
    </form>
</div>
<article class="mt-4">
    <h1 class="stream">Recent Equipment Movement</h1>
    <ol class="stream-content">
        {% for movement in movement_stream %}
        <li>{{ movement.message }}</li>
        {% endfor %}
    </ol>
</article>
{% endblock %}