{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-2 text-center">
        {% if current_user.is_admin %}
        {% set action = url_for("move_pump", crew=crew) %}
        {% else %}
        {% set action = url_for("move_pump") %}
        {% endif %}
        <form action='{{ action }}' method="POST" id="pump-form">
            <h1>Pumps</h1>
            {{ pump_form.hidden_tag() }}
            {% for field in pump_form %}
            {% if field == pump_form.pumps %}
            {{ render_field(field, class="radio") }}
            {% else %}
            {{ render_field(field, class="under-radio") }}
            {% endif %}
            {% endfor %}
            <!-- Toggle Modal -->
            <button type="button" class="btn btn-dark mb-2"
                    data-toggle="modal" data-target="#pumpModalCenter">
                Send Pump
            </button>
            <button type="submit" class="btn btn-dark" name="button" value="maintenance">
                Record/View Maintenance History
            </button>
            <!-- Modal -->
            <div class="modal fade" id="pumpModalCenter" tabindex="-1" role="dialog" aria-labelledby="pumpModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="pumpModalCenterTitle">Equipment Movement Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5 class="modal-title" id="pumpModalCenterMessage">Supervisor Name</h5>
                            <input title='supervisor' type="text" name="user_name">
                            <h5 class="modal-title" id="pumpModalCenterMessage">Why are you sending it?</h5>
                            <input title='message' type="text" name="user_message">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- Submit Form -->
                            <button type="submit" class="btn btn-dark" name="button" value="send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 text-center">
        {% if current_user.is_admin %}
        {% set action = url_for("move_blender", crew=crew) %}
        {% else %}
        {% set action = url_for('move_blender') %}
        {% endif %}
        <form action='{{ action }}' method="POST">
            <h1>Blenders</h1>
            {{ blender_form.hidden_tag() }}
            {% for field in blender_form %}
            {% if field == blender_form.blenders %}
                {{ render_field(field, class="radio") }}
            {% else %}
                {{ render_field(field, class="under-radio") }}
            {% endif %}
            {% endfor %}
            <!-- Toggle Modal -->
            <button type="button" class="btn btn-dark mb-2"
                    data-toggle="modal" data-target="#blenderModalCenter">
                Send Blender
            </button>
            <!-- Modal -->
            <div class="modal fade" id="blenderModalCenter" tabindex="-1" role="dialog" aria-labelledby="blenderModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="blenderModalCenterTitle">Equipment Movement Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5 class="modal-title" id="blenderModalCenterMessage">Supervisor Name</h5>
                            <input title='supervisor' type="text" name="user_name">
                            <h5 class="modal-title" id="blenderModalCenterMessage">Why are you sending it?</h5>
                            <input title='message' type="text" name="user_message">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- Submit Form -->
                            <button type="submit" class="btn btn-dark" name="button" value="send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 text-center" >
        {% if current_user.is_admin %}
        {% set action = url_for("move_hydration", crew=crew) %}
        {% else %}
        {% set action = url_for('move_hydration') %}
        {% endif %}
        <form action='{{ action }}' method="POST">
            <h1>Hydrations</h1>
            {{ hydration_form.hidden_tag() }}
            {% for field in hydration_form %}
            {% if field == hydration_form.hydrations %}
            {{ render_field(field, class="radio") }}
            {% else %}
            {{ render_field(field, class="under-radio") }}
            {% endif %}
            {% endfor %}
            <!-- Toggle Modal -->
            <button type="button" class="btn btn-dark mb-2"
                    data-toggle="modal" data-target="#hydrationModalCenter">
                Send Hydration
            </button>
            <!-- Modal -->
            <div class="modal fade" id="hydrationModalCenter" tabindex="-1" role="dialog" aria-labelledby="hydrationModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="hydrationModalCenterTitle">Equipment Movement Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5 class="modal-title" id="hydrationModalCenterMessage">Supervisor Name</h5>
                            <input title='supervisor' type="text" name="user_name">
                            <h5 class="modal-title" id="hydrationModalCenterMessage">Why are you sending it?</h5>
                            <input title='message' type="text" name="user_message">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- Submit Form -->
                            <button type="submit" class="btn btn-dark" name="button" value="send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 text-center">
        {% if current_user.is_admin %}
        {% set action = url_for("move_float", crew=crew) %}
        {% else %}
        {% set action = url_for('move_float') %}
        {% endif %}
        <form action='{{ action }}' method="POST">
            <h1>Floats</h1>
            {{ float_form.hidden_tag() }}
            {% for field in float_form %}
            {% if field == float_form.floats %}
            {{ render_field(field, class="radio") }}
            {% else %}
            {{ render_field(field, class="under-radio") }}
            {% endif %}
            {% endfor %}
            <!-- Toggle Modal -->
            <button type="button" class="btn btn-dark mb-2"
                    data-toggle="modal" data-target="#floatModalCenter">
                Send Float
            </button>
            <!-- Modal -->
            <div class="modal fade" id="floatModalCenter" tabindex="-1" role="dialog" aria-labelledby="floatModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="floatModalCenterTitle">Equipment Movement Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5 class="modal-title" id="floatModalCenterMessage">Supervisor Name</h5>
                            <input title='supervisor' type="text" name="user_name">
                            <h5 class="modal-title" id="floatModalCenterMessage">Why are you sending it?</h5>
                            <input title='message' type="text" name="user_message">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- Submit Form -->
                            <button type="submit" class="btn btn-dark" name="button" value="send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 text-center">
        {% if current_user.is_admin %}
        {% set action = url_for("move_missile", crew=crew) %}
        {% else %}
        {% set action = url_for('move_missile') %}
        {% endif %}
        <form action='{{ action }}' method="POST">
            <h1>Missiles</h1>
            {{ missile_form.hidden_tag() }}
            {% for field in missile_form %}
            {% if field == missile_form.missiles %}
            {{ render_field(field, class="radio") }}
            {% else %}
            {{ render_field(field, class="under-radio") }}
            {% endif %}
            {% endfor %}
            <!-- Toggle Modal -->
            <button type="button" class="btn btn-dark mb-2"
                    data-toggle="modal" data-target="#missileModalCenter">
                Send Missile
            </button>
            <!-- Modal -->
            <div class="modal fade" id="missileModalCenter" tabindex="-1" role="dialog" aria-labelledby="missileModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="missileModalCenterTitle">Equipment Movement Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5 class="modal-title" id="missileModalCenterMessage">Supervisor Name</h5>
                            <input title='supervisor' type="text" name="user_name">
                            <h5 class="modal-title" id="missileModalCenterMessage">Why are you sending it?</h5>
                            <input title='message' type="text" name="user_message">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- Submit Form -->
                            <button type="submit" class="btn btn-dark" name="button" value="send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <article class="mt-4 col-md">
        <h1 class="border-bottom">Recent Movement</h1>
        <ol class="stream-content">
            {% for movement in movement_stream %}
            <li class="list-group-item">
              <h5>
                {{ movement.fields.message }}
              </h5>
              <div>
                Reason: {{ movement.fields.details }}
              </div>
            </li>
            {% endfor %}
        </ol>
    </article>
    <div id="transit" class="col-md mt-4"></div>
</div>
{% endblock %}
