{% extends "layout.html" %}
{% from 'macros.html' import render_field, render_field_labels %}

{% block content %}
<div class="row justify-content-center mx-auto">
        <form method="post" class="maint-forms text-center">
            <div class="col_1 col-lg-5">
                <h1 class="text-nowrap">Select Maintenance</h1>
                {{ maintenance_form.hidden_tag() }}
                {% for field in maintenance_form %}
                    {{ render_field(field) }}
                {% endfor %}

            </div>

            <div class="col_2 col-lg-3 text-center pl-4">
                <h1>Select Hole</h1>
                {{ hole_form.hidden_tag() }}
                {% for field in hole_form %}
                    {{ render_field(field) }}
                {% endfor %}
            </div>
            <div class="col_3 col-lg-3 text-center">
                <h1>Parts Used</h1>
                {{ parts_form_vs.hidden_tag() }}
                <dl>
                    {% for field in parts_form_vs %}
                        {{ render_field_labels(field, div_class='labeled-fields') }}
                    {% endfor %}
                </dl>
            </div>
            <div class="col_4 col-lg-3 text-center">
            <h1>Parts Used</h1>
            {{ parts_form_packing.hidden_tag() }}
            <dl>
                {% for field in parts_form_packing %}
                {{ render_field_labels(field, div_class='labeled-fields') }}
                {% endfor %}
            </dl>
            </div>
            <div class="text-nowrap grease col-lg-1">
                {{ grease_form.hidden_tag() }}
                <dl>
                    {% for field in grease_form %}
                    {{ render_field_labels(field, div_class='labeled-fields') }}
                    {% endfor %}
                </dl>
            </div>
            <button type="submit" id="maintenance-button" class="btn btn-dark">Record Maintenance</button>
        </form>
</div>
<article class="mt-4">
    <h1 class="stream">Recent Maintenance for {{ pump }}</h1>
    <ol class="stream-content">
        {% for message in maintenance_stream %}
        <li class="list-group-item">{{ message }}</li>
        {% endfor %}
    </ol>
</article>


{% endblock %}