{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-3 text-center">
        {% if current_user.is_admin %}
        {% set action = url_for("move_pump", crew=crew) %}
        {% else %}
        {% set action = url_for("move_pump") %}
        {% endif %}
        <form action='{{ action }}' method="POST" id="pump-form">
            <h1>Pumps</h1>
            {{ pump_form.hidden_tag() }}
            {% for field in pump_form %}
            {% if field == pump_form.pumps %}
            {{ render_field(field, class="radio") }}
            {% else %}
            {{ render_field(field, class="under-radio") }}
            {% endif %}
            {% endfor %}
            <!-- Toggle Modal -->
            <button type="button" class="btn btn-dark mb-2"
                    data-toggle="modal" data-target="#pumpmodal">
                Send Pump
            </button>
            <button type="submit" class="btn btn-dark" name="button" value="maintenance">
                Record/View Maintenance History
            </button>
            <!-- Modal -->
            <div class="modal fade" id="pumpmodal" tabindex="-1" role="dialog" aria-labelledby="pumpmodalcentertitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="pumpmodalcentertitle">Enter Supervisor Name</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input title='supervisor' type="text" name="user_name" id="user">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- Submit Form -->
                            <button type="submit" class="btn btn-dark" name="button" value="send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 text-center">
        {% if current_user.is_admin %}
        {% set action = url_for("move_blender", crew=crew) %}
        {% else %}
        {% set action = url_for('move_blender') %}
        {% endif %}
        <form action='{{ action }}' method="POST">
            <h1>Blenders</h1>
            {{ blender_form.hidden_tag() }}
            {% for field in blender_form %}
            {% if field == blender_form.blenders %}
                {{ render_field(field, class="radio") }}
            {% else %}
                {{ render_field(field, class="under-radio") }}
            {% endif %}
            {% endfor %}
            <!-- Toggle Modal -->
            <button type="button" class="btn btn-dark mb-2"
                    data-toggle="modal" data-target="#blenderModalCenter">
                Send Blender
            </button>
            <!-- Modal -->
            <div class="modal fade" id="blenderModalCenter" tabindex="-1" role="dialog" aria-labelledby="blenderModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="blenderModalCenterTitle">Enter Supervisor Name</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input title='supervisor' type="text" name="user_name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- Submit Form -->
                            <button type="submit" class="btn btn-dark" name="button" value="send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 text-center" >
        {% if current_user.is_admin %}
        {% set action = url_for("move_hydration", crew=crew) %}
        {% else %}
        {% set action = url_for('move_hydration') %}
        {% endif %}
        <form action='{{ action }}' method="POST">
            <h1>Hydrations</h1>
            {{ hydration_form.hidden_tag() }}
            {% for field in hydration_form %}
            {% if field == hydration_form.hydrations %}
            {{ render_field(field, class="radio") }}
            {% else %}
            {{ render_field(field, class="under-radio") }}
            {% endif %}
            {% endfor %}
            <!-- Toggle Modal -->
            <button type="button" class="btn btn-dark mb-2"
                    data-toggle="modal" data-target="#hydrationModalCenter">
                Send Hydration
            </button>
            <!-- Modal -->
            <div class="modal fade" id="hydrationModalCenter" tabindex="-1" role="dialog" aria-labelledby="hydrationModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="hydrationModalCenterTitle">Enter Supervisor Name</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input title='supervisor' type="text" name="user_name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- Submit Form -->
                            <button type="submit" class="btn btn-dark" name="button" value="send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 text-center">
        {% if current_user.is_admin %}
        {% set action = url_for("move_float", crew=crew) %}
        {% else %}
        {% set action = url_for('move_float') %}
        {% endif %}
        <form action='{{ action }}' method="POST">
            <h1>Floats</h1>
            {{ float_form.hidden_tag() }}
            {% for field in float_form %}
            {% if field == float_form.floats %}
            {{ render_field(field, class="radio") }}
            {% else %}
            {{ render_field(field, class="under-radio") }}
            {% endif %}
            {% endfor %}
            <!-- Toggle Modal -->
            <button type="button" class="btn btn-dark mb-2"
                    data-toggle="modal" data-target="#floatModalCenter">
                Send Float
            </button>
            <!-- Modal -->
            <div class="modal fade" id="floatModalCenter" tabindex="-1" role="dialog" aria-labelledby="floatModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="floatModalCenterTitle">Enter Supervisor Name</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input title='supervisor' type="text" name="user_name">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- Submit Form -->
                            <button type="submit" class="btn btn-dark" name="button" value="send">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="transit"></div>
<article class="mt-4">
    <h1 class="stream">Recent Equipment Movement</h1>
    <ol class="stream-content">
        {% for movement in movement_stream %}
        <li class="list-group-item">{{ movement.message }}</li>
        {% endfor %}
    </ol>
</article>
{% endblock %}
